<div class="nav-bar">
  <div class="nav-bar__links">
    <div class="nav-bar__links--left">
      <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Events list</a>
      <a [routerLink]="['/events/new']" routerLinkActive="active">New event</a>
      <a [routerLink]="['/tableList']" routerLinkActive="active">Events table</a>
    </div>
    <div class="nav-bar__links--right">
      <a *ngIf="!authService.isAuthenticated()" [routerLink]="['user/login']">Login</a>
      <a *ngIf="authService.isAuthenticated()"   [routerLink]="['user/profile']"
         routerLinkActive="active">Welcome {{authService.currentUser.firstName}}</a>
    </div>
  </div>
</div>

<!--[routerLinkActiveOptions]="{exact:true}" when we have 2 links with the same parent route like ['events'] and ['events/new'] -->


