@import "../../../variables.scss";

.nav-bar {
  background-color: $color-brand-blue;
  //position: fixed;
  width: 100%;
}

.nav-bar__links {
  display: flex;
}

a {
  display: inline-block;
  padding: 15px;
  color: white;
  text-decoration: none;

  &.active {
    color: black;
    font-weight: bold;
  }
}

.nav-bar__links--left{
  float: left;
}
.nav-bar__links--right {
  float: right;
}
