<div class="event-container">
  <h2>More details about {{event?.name}}</h2>
  <div>Name: {{event?.name}}</div>
  <div [hidden]="!event?.location">
    <div>Address: {{event?.location?.address}}</div>
    <div>City: {{event?.location?.city}}</div>
    <div>Country: {{event?.location?.country}}</div>
  </div>
  <div [ngSwitch]="event?.time">
    Time: {{event?.time}}
    <span *ngSwitchCase="'10:17 PM'">(Late Start)</span>
    <span *ngSwitchCase="'2:17 PM'">(Normal Start)</span>
    <span *ngSwitchDefault>(Default Start)</span>
  </div>
  <div>Price: ${{event?.price}}</div>
  <div>Date: {{event?.date}}</div>
  <hr>
  <div class="session-list">
    <div class="session-title">Session details:</div>
    <div class="session-link">
    <a (click)="addSession()"> Add Session</a>
  </div>
  </div>
  <app-session-list [sessions]="event?.sessions" *ngIf="!addMode"></app-session-list>
  <app-create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancelSaveSession)="cancelNewSession()"></app-create-session>
</div>

