
/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
$color-brand-white: white;
$color-brand-antracite: #333;
$color-brand-beige: #E8E2DA;
$color-brand-gray: #7B7B7B;
$color-brand-blue: #0173CF;
$color-brand-orange: #FF7900;
$color-brand-blue-light: #E5F1FA;

$color-warning: #FFC802;
$color-error: #CF5353;
$color-success: #00CF52;

$color-shadow-blue: #719ECE;
$color-hover-blue: $color-brand-blue-light;
$color-gray: #ccc;
$color-gray-light: #F5F5F5;
