@import "variables";

.btn-action {
  background-color: $color-brand-orange;
  color: $color-brand-white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn-cancel {
  background-color: $color-brand-gray;
  color: $color-brand-white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.error-message {
  float: right;
  color: $color-brand-orange;
}

.form-group {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}
